<br /><br />

<div class="text-center mt-3">
  <h2>Create Book</h2>
</div>

<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Book Title</label>
      <input
        type="title"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Title"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Publisher</label>
      <input
        type="publisher"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Publisher"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Author</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Author"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Total Pages</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Pages"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Description</label>
      <textarea
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Upload Image</label>
      <input
        type="file"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        accept="image/*"
      />
    </div>
    <div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4">Type</label>
      <select class="form-select" id="exampleSelect1">
        <option>Paperback</option>
        <option>Hardcover</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4">Category</label>
      <select class="form-select" id="exampleSelect1">
        <option>Fiction</option>
        <option>Non-Fiction</option>
        <option>Programming</option>
        <option>Motivational</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
