<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Library Management</a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/books"
          >Search Books</a
        >
      </li>
      <li class="nav-item" *ngIf="loggedIn"   [ngStyle]="{'display': (role=='Student') ? 'block' : 'none'}">
        <a class="nav-link" routerLinkActive="active" href="#">Return Book</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/requestedbooks"
          [ngStyle]="{'display': (role=='Student') ? 'none' : 'block'}"
          >Requested Books</a
        >
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLinkActive="active" routerLink="/createbook"
        [ngStyle]="{'display': (role=='Student') ? 'none' : 'block'}"
          >Create Book</a
        >
      </li>
      <li class="nav-item" *ngIf="loggedIn" (click)="logout()">
        <a class="nav-link disabled" routerLinkActive="active">Logout</a>
      </li>
    </ul>
    <div class="dropdown" *ngIf="loggedIn" dropdown>
      <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome user</a>
      <div class="drodpwon-menu mt-3" *dropdownMenu="">
        <a class="drodown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="drodown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <form
      *ngIf="!loggedIn"
      #loginForm="ngForm"
      (ngSubmit)="login()"
      autocomplete="off"
      class="d-flex"
      role="search"
    >
      <input
        name="username"
        [(ngModel)]="model.email"
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
      />
      <span>&nbsp;</span>
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
      />
      <span>&nbsp;</span>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
